/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
/* Import fonts */

body {
    margin: 0;
    /* Remove default body margin */
}

.container_front {
    position: relative;
    /* margin-bottom: -34px; */
}

.container1 {
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}

.overlay-box {
    position: absolute;
    top: 0;
    width: 44%;
    height: 100%;
    /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#free-shipping {
    font-family: 'Chakra Petch', sans-serif;
    color: #FAECBF;
    margin-top: 6%;
    font-size: 140%;
    /* Adjust the font size as needed */
    /* position: absolute; */
}

.nmat {
    display: flex;
    justify-content: center;
    margin-top: 29%;
    margin-right: 10%;
}

#not-merely {
    font-family: 'Chakra Petch', sans-serif;
    color: #FAECBF;
    font-size: 340%;
    font-weight: bolder;
    transform: scaleY(0.9);
    text-align: left;
}

.description-cover {
    display: flex;
    justify-content: center;
    margin-top: -46%;
    margin-right: 0%;
}

#description {
    font-family: 'Chakra Petch', sans-serif;
    color: #FAECBF;
    font-size: 123%;
    text-align: left;
    margin-top: 70%;
    width: 55%;
}

.button-shop {
    position: absolute;
    /* margin-right: 29%; */
    top: 83%;
    left: 3%;
    width: 64%;
    /* margin-top: 6%; */
}

#shop-now {
    background-color: #F1B92C;
    border-radius: 18px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 119%;
    width: 41%;
    height: 24%;
    line-height: 222%;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    font-weight: 900;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

.shop-now::placeholder {
    color: red;
}

.shop-now:hover,
.shop-now:focus {
    background-color: #F082AC;
}

.search-box {
    position: absolute;
    top: 3%;
    right: 0;
    margin-right: 13%;
}

#searching {
    border: none;
    padding: 0;
    width: 137%;
    display: block;
    padding: 15px 6px 15px 30px;
    background: transparent url("../img/search-icon.png") no-repeat 94% center;
    background-size: 9%;
    background-color: rgba(64, 34, 23, 0.7);
    border-radius: 21px;
    font-family: 'Chakra Petch', sans-serif;
}

#searching::placeholder {
    color: #FAECBF;
    opacity: 0.7;
    font-weight: 200;
}

.header {
    position: absolute;
    top: 12%;
    width: 100%;
    height: 11%;
    background-color: #C40B23;
}

.logo-header {
    position: absolute;
    margin-left: 10%;
    /* margin-bottom: 36%; */
}

#logo-header {
    transform: scale(1.1);
    /* margin-bottom: 10%; */
    padding-bottom: 88%;
}

.header-menu {
    margin-left: 26%;
}

.header-menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2.5% 14px;
    text-decoration: none;
    font-size: 160%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    margin-left: 5%;
    color: #FAECBF;
    transform: scaleX(1.1);
}

#explore-more {
    margin-top: -78%;
    width: 55%;
    margin-left: 23%;
}

#explore-more-btn {
    background-color: #C40B23;
    border-radius: 18px;
    border-style: none;
    box-sizing: border-box;
    color: #FAECBF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    width: 14%;
    height: 7%;
    line-height: 156%;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    font-weight: 900;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
    margin-bottom: 4%;
    position: absolute;
    top: 62%;
    left: 44%;
}

#explore-more-txt {
    position: absolute;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    top: 78%;
    width: 57%;
    color: #FAECBF;
    line-height: 162%;
    left: 22%;
    font-size: 1.2rem;
}

.container2 {
    position: relative;
    /* display: flex; */
    /* margin-top: -1%; */
}

#img-big-skull {
    /* margin-top: 10%; */
}

#big-skull {
    /* position: absolute; */
    /* top: 7%; */
    /* left: -5%; */
    transform: rotate(25deg);
    margin-top: -86%;
    margin-left: -5%;
    width: 57%;
}

#big-skull1 {
    margin-top: -148%;
    margin-left: 5%;
    width: 36%;
}

#big-skull2 {
    margin-top: -71%;
    margin-left: 56%;
    width: 39%;
}

#text-block {
    width: 16%;
    position: absolute;
    top: 54%;
    left: 34%;
}

#text-block1 {
    width: 32%;
    position: absolute;
    top: 32%;
    left: 57%;
}

#text-block2 {
    width: 31%;
    position: absolute;
    top: 83%;
    left: 57%;
}


#text-block p {
    font-size: 120%;
    font-family: 'Chakra Petch', sans-serif;
    transform: scaleY(0.9);
    line-height: 100%;
    text-align: right;
    /* font-weight: 600; */
}

#text-block1 p {
    font-size: 120%;
    font-family: 'Chakra Petch', sans-serif;
    transform: scaleY(0.9);
    line-height: 78%;
    font-weight: 600;
}

#text-block2 p {
    font-size: 120%;
    font-family: 'Chakra Petch', sans-serif;
    transform: scaleY(0.9);
    line-height: 78%;
    font-weight: 600;
}

#c2-img1 {
    /* position: absolute; */
}

#c1-img1 {
    /* position: absolute; */
}


#tb-l1 {
    font-weight: bolder;
}

#tb-l2,
#tb-l3,
#tb-l4,
#tb-l5,
#tb-l6,
#tb-l7,
#tb-l8,
#tb-l9 {
    font-weight: 500;
}

.button-shop1 {
    position: absolute;
    top: 62%;
    left: 39%;
    width: 27%;
}

.container3 {
    /* z-index: 1; */
    margin-top: -4%;
    /* align-items: center; */
    position: relative;
    overflow: hidden;
}

#c3-tb1 {
    line-height: 97%;
    z-index: 9;
    position: absolute;
    line-height: 143%;
    left: 50%;
    top: 11%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#c3-tb1 p {
    font-family: 'Chakra Petch', sans-serif;
    color: #FAECBF;
    font-weight: bold;
    font-size: 136%;
    text-align: center;
    overflow: hidden;
}

#c3-img1 {
    filter: brightness(50%);
    position: absolute;
}

#c3-img2 {
    transform: scale(0.16);
    margin-top: -43%;
    z-index: 10s;
}

#c-our-store {
    margin-top: -48%;
}

#our-store,
#kidult {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 125%;
    text-align: center;
}

#our-store {
    color: #C40B23;
    font-size: 251%;
    font-weight: bolder;
}

#pro-row {
    display: flex;
    justify-content: center;
    /* Align items horizontally to the center */
    gap: 0%;
    /* Set the desired space between columns */
    margin-top: 5%;
}

#pro-row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Align items vertically to the center */
    margin-right: 4%;
    flex-grow: 0;
    margin-left: 4%;
}

#txt-des-toy {
    font-family: 'Chakra Petch', sans-serif;
    margin-top: 3rem;
    font-size: 166%;
    font-weight: 600;
}

#des-toy img {
    transform: scale(1.1);
}

#new-releases,
#meet-new-friends {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 125%;
    text-align: center;
}

#new-releases {
    color: #C40B23;
    font-size: 251%;
    font-weight: bolder;
}

#c-new-release {
    margin-top: 4%;
}

.container4 {
    position: relative;
    margin-top: 2%;
}

.overlay-box1 {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.c4-text-box p {
    font-family: 'Chakra Petch', sans-serif;
    color: #FAECBF
}

.c4-text-box {
    width: 47%;
    margin-left: 31%;
    margin-top: 11%;
}

.c4-text-box p {
    text-align: left;
}

#c4-title {
    font-size: 156%;
    transform: scaleY(0.9);
}

#see-more-btn {
    background-color: #C40B23;
    border-radius: 18px;
    border-style: none;
    box-sizing: border-box;
    color: #FAECBF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    width: 20%;
    height: 12%;
    line-height: 23%;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    font-weight: 900;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    /* vertical-align: baseline; */
    touch-action: manipulation;
    /* margin-bottom: 4%; */
    position: absolute;
    top: 72%;
    left: 31%;
}

.container5 {
    position: relative;
}

#c5-img1 {
    opacity: 0.5;
    /* position: absolute; */
}

#c-spot-light {
    margin-top: -65%;
}

#c5-col {
    margin-left: 7%;
    margin-right: 7%;
}

#sl-img {
    transform: scale(1.4);
}

#sl-row {
    margin-top: 4%;
}

#sl-txt {
    margin-top: 24%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    width: 110%;
    transform: scaleX(1.05);
    font-weight: 550;
}

#cost {
    font-family: 'Dongle', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    /* text-align: left; */
}

.border-button {
    background-color: transparent;
    border: 2px solid #F1B92C;
    padding: 9px 39px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    font-family: 'Chakra Petch';
    /* text-decoration: none; */
}

#c5-col a {
    color: #FF0000;
}

#c5-col a:hover {
    text-decoration: none;
}

.container6 {
    position: relative;
    margin-top: 31%;
}

#c-events {
    margin-top: -94%;
}

#c-time {
    margin-top: 31%;
}

#time {
    font-family: 'Dongle', sans-serif;
    font-size: 1.5rem;
    opacity: 0.6;
}

#txt-event-des span {
    color: #C40B23;
}

#txt-event-des,
#txt-event-des span {
    font-family: 'Dongle', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

#btn-see-more {
    display: flex;
}

.item1 {
    margin-right: 10%;
    margin-left: -8%;
    font-family: 'Chakra Petch';
    color: #C40B23;
}

#c6-img1 {
    opacity: 0.5;
    /* overflow: hidden; */
    /* height: 800px; */
    z-index: 1;
    /* position: absolute; */
}

.container7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #C40B23;
    position: absolute;
  }

  #ayece {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
  }

  .container7 .row {
    margin-bottom: 10px;
  }